@import "variables";
.upperContainerHeader{
  background: linear-gradient(to left, #7C573C 50%, #221518 50%);

  .menu{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    color: $coffeeCreamFont;
    height: 85px;
    line-height: 85px;
    .menuItem{
      margin: 0 8px;
      text-shadow: $textShadow;
    }
    .active{
      position: relative;
      text-shadow: unset;
      &:before{
        content: "";
        position: absolute;
        width: 65px;
        height: 75px;
        left: -15px;
        right: -15px;
        margin: auto;
        top: -2px;
        background: linear-gradient(93.99deg, rgba(223, 195, 157, 0.4) -9.94%, rgba(248, 228, 190, 0.4) 19.83%, rgba(223, 195, 157, 0.4) 50.71%, rgba(248, 228, 190, 0.4) 81.26%, rgba(248, 228, 190, 0.4) 111.66%);
        border-radius: 0 0 30px 30px;
      }
    }
  }
  .logoSide{
    display: flex;
    padding: 8px;
    .logoSideIconWrapper{
      padding-right: 8px;
      display: flex;
      .icon{
        margin-right: 8px;
      }
    }
  }
}