@import "variablePractice1";

html{
  font-size: 16px;
}
.fatherOfContainer {
  background: url("../public/assets/coffee-landing-transformed.png") no-repeat bottom right, linear-gradient(to left, #7C573C 50%, $darkBrownBg 50%);
  background-size: contain;

  .header {
    .headerLeft {
      width: 50%;

      .headerLeftLogo {
        margin: 0.625rem 0;
      }

      .headerLeftIcons {
        margin-right: 1.25rem;

        .icon {
          margin: 0.5rem;
        }
      }
    }

    .headerRight {
      width: 50%;

      .menuItem {
        z-index: 1;
        color: $whiteFont;
        text-shadow: $textShadow;
        font-weight: 400;
        font-size: 1.25rem;
        cursor: pointer;
      }

      .active {
        text-shadow: unset;

        &:before {
          content: "";
          position: absolute;
          width: 5.375rem;
          height: 4.75rem;
          border-radius: 0 0 1.875rem 1.875rem;
          background: linear-gradient(93.99deg, rgba(223, 195, 157, 0.4) -9.94%, rgba(248, 228, 190, 0.4) 19.83%, rgba(223, 195, 157, 0.4) 50.71%, rgba(248, 228, 190, 0.4) 81.26%, rgba(248, 228, 190, 0.4) 111.66%);
          backdrop-filter: blur(0.125rem);
          z-index: -1;
          left: -1.375rem;
          top: -2.25rem;
        }
      }
    }
  }

  .elzaCoffee {
    margin-top: 3.5rem;

    .text {
      font-size: 1.5rem;
      color: $brownFont;
      line-height: 2.875rem;
      width: 29.5rem;
      height: 5.875rem;
    }

    .btn {
      margin-top: 5.375rem;
      cursor: pointer;
    }

    .creamBtn {
      margin-right: 3rem;
      cursor: pointer;
    }

    .iceCreamBox {
      width: 22.875rem;
      height: 15.5rem;
      background: rgba(74, 39, 33, 0.85);
      backdrop-filter: blur(1.0625rem);
      box-sizing: border-box;
      border-radius: 3.125rem 3.125rem 0 0;
      margin-top: 9.625rem;

      .iceCreamImg {
        width: 16.5rem;
        height: 16.5rem;
        left: -1.625rem;
        top: -0.625rem;
        filter: drop-shadow(1.05rem -046rem 0.73rem rgba(0, 0, 0, 0.25));
      }

      .h4 {
        left: 11rem;
        top: 5rem;
      }

      .iceCreamBtn {
        padding: 0.75rem 1.25rem;
        border: 0.0625rem solid;
        border-radius: 3rem;
        font-family: leiko;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1rem;
        background: rgba(74, 39, 33, 0.85);
        backdrop-filter: blur(1.0625rem);
        color: $cream;
        border-color: $cream;
        left: 13.25rem;
        top: 11.125rem;
        cursor: pointer;

        .bikeIcon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.fatherOfContainer2 {
  background: $darkBrownBg;

  .container {
    padding-top: 7.5rem;

    .ourStory {
      height: 23.625rem;
      background-color: $lightBrownBg;
      backdrop-filter: blur(0.125rem);
      border-radius: 2.1875rem;
      margin: auto;

      .womanImg {
        width: 28.25rem;
        height: 28.375rem;
        left: -3rem;
        top: -4.75rem;
        filter: drop-shadow(0 9.5625rem 3.8125rem rgba(32, 19, 22, 0.03)) drop-shadow(0 5.375rem 3.25rem rgba(32, 19, 22, 0.1)) drop-shadow(0 2.375rem 2.375rem rgba(32, 19, 22, 0.17)) drop-shadow(0 0.625rem 1.3125rem rgba(32, 19, 22, 0.2)) drop-shadow(0 0 0 rgba(32, 19, 22, 0.2));
      }

      .h3 {
        left: 56.75rem;
        top: -7.5rem;
      }

      .text {
        font-size: 1.125rem;
        color: $whiteFont;
        line-height: 2.5rem;
        width: 37rem;
        margin-top: 3rem;
        margin-right: 3rem;
        display: -webkit-box;
        max-width: 36.25rem;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        float: right;
      }

      .moreLink {
        color: $whiteFont;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: justify;
        text-decoration-line: underline;
        margin-top: 0.875rem;
        margin-right: 3.625rem;
        text-align: right;
      }
    }
    .dotSlider {
      margin: 2.5rem auto 9.375rem;

      .dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $lightBrownBg;
        display: inline-block;
        cursor: ew-resize;

        &:hover {
          background-color: $cream;
        }
      }
    }

    .services {
      .servicesFlex {
        .servicesFlexBox {
          background-color: $brown;
          width: 10.625rem;
          height: 14rem;
          border-radius: 2.25rem;
          flex-direction: column;
          cursor: pointer;

          .text {
            color: $creamFont;
            font-size: 1rem;
            line-height: 1.25rem;
            bottom: 2.5rem;
          }
        }
      }
    }
    .offerBox{
      margin: 13.5rem auto;
      height: 23.625rem;
      background-color: $lightBrownBg;
      backdrop-filter: blur(0.125rem);
      border-radius: 2.25rem;
      .h3{
        left: 3.75rem;
        top: -7.25rem;
      }
      .offerTitle{
        font-size: 2rem;
        color: $creamFont;
        line-height: 4.375rem;
        margin-left: 3.75rem;
        padding-top: 2.25rem;
        .textOfSpan{
          font-size: 3rem;
          color: $creamFont;
          line-height: 6.5rem;
          margin-left: unset;
        }
      }
      .text{
        font-size: 1.125rem;
        color: $whiteFont;
        line-height: 2.5rem;
        margin-left: 3.75rem;
        display: -webkit-box;
        max-width: 37.375rem;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .btn{
        margin: 2rem auto 2rem 3.75rem;
        cursor: pointer;
      }
      .offerImage{
       right: 2.625rem;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .reservationBox{
    margin: 13.5rem auto 9.25rem;
    height: 36.25rem;
    background-color: $lightBrownBg;
    backdrop-filter: blur(0.125rem);
    .h3{
      width: 22.3125rem;
      top: -4.5rem;
      right: 0;
      left: 0;
      margin: auto;
    }
    .reserveFlex{
      .reserveFlexLeft{
      }
      .reserveFlexRight{
        .reserveForm{
          width: 33.75rem;
          margin: 5.3125rem auto;
        }
        .reserveFlexItem{
          width: 100%;
          .dateIcon{
            inset: 1rem 0.75rem;
          }
          .select{
            width: 100%;
            height: 3.375rem;
            margin-bottom: 2.125rem;
            margin-left: 2.374rem;
            background-color: $whiteBg;
            border: 0.0625rem solid #D6D6D6;
            border-radius: 0.75rem;
            color: #9D8781;
            font-family: leiko;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3125rem;
            line-height: 1.75rem;
            padding-left: 3rem;
          }
          .brownBtn{
            height: 3.375rem;
            margin-left: 1.25rem;
          }
        }
      }
    }
  }
}