@import "variablePractice1";

.fatherOfContainer {
  background: url("../public/assets/coffee-landing-transformed.png") no-repeat bottom right, linear-gradient(to left, #7C573C 50%, $darkBrownBg 50%);
  background-size: contain;

  .header {
    .headerLeft {
      width: 50%;

      .headerLeftLogo {
        margin: 10px 0;
      }

      .headerLeftIcons {
        margin-right: 20px;

        .icon {
          margin: 8px;
        }
      }
    }

    .headerRight {
      width: 50%;

      .menuItem {
        z-index: 1;
        color: $whiteFont;
        text-shadow: $textShadow;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }

      .active {
        text-shadow: unset;

        &:before {
          content: "";
          position: absolute;
          width: 86px;
          height: 75px;
          border-radius: 0 0 30px 30px;
          background: linear-gradient(93.99deg, rgba(223, 195, 157, 0.4) -9.94%, rgba(248, 228, 190, 0.4) 19.83%, rgba(223, 195, 157, 0.4) 50.71%, rgba(248, 228, 190, 0.4) 81.26%, rgba(248, 228, 190, 0.4) 111.66%);
          backdrop-filter: blur(2px);
          z-index: -1;
          left: -22px;
          top: -37px;
        }
      }
    }
  }

  .contentPart1 {
    margin-top: 56px;

    .text{
      font-size: 24px;
      color: $brownFont;
      line-height: 46.85px;
      width: 472px;
      height: 94px;
    }

    .btn {
      margin-top: 86px;
      cursor: pointer;
    }

    .creamBtn {
      margin-right: 49px;
      cursor: pointer;
    }

    .iceCreamBox {
      width: 366px;
      height: 247px;
      background: rgba(74, 39, 33, 0.85);
      backdrop-filter: blur(16.9695px);
      box-sizing: border-box;
      border-radius: 50px 50px 0 0;
      margin-top: 155px;

      .iceCreamImg {
        width: 264.28px;
        height: 264.28px;
        left: -26.08px;
        top: -9px;
        filter: drop-shadow(16.8381px -7.3209px 11.7134px rgba(0, 0, 0, 0.25));
      }
      .h4 {
        left: 175px;
        top: 80px;
      }
      .iceCreamBtn {
        padding: 12px 20px;
        border: 1px solid;
        border-radius: 49px;
        font-family: leiko;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        background: rgba(74, 39, 33, 0.85);
        backdrop-filter: blur(16.9695px);
        color: $cream;
        border-color: $cream;
        left: 212px;
        top: 178px;
        cursor: pointer;
        .bikeIcon {
          margin-left: 8px;
        }
      }
    }
  }
}

.fatherOfContainer2 {
  background: $darkBrownBg;
  .container{
    padding-top: 120px;
    .contentPart2 {
      height: 378px;
      background-color: $lightBrownBg;
      backdrop-filter: blur(2px);
      border-radius: 35px;
      margin: auto;
      .womanImg {
        width: 452px;
        height: 454px;
        left: -48px;
        top: -76px;
        filter: drop-shadow(0px 153px 61px rgba(32, 19, 22, 0.03)) drop-shadow(0px 86px 52px rgba(32, 19, 22, 0.1)) drop-shadow(0px 38px 38px rgba(32, 19, 22, 0.17)) drop-shadow(0px 10px 21px rgba(32, 19, 22, 0.2)) drop-shadow(0px 0px 0px rgba(32, 19, 22, 0.2));
      }
      .h3{
        left: 908px;
        top: -120px;
      }
      .textOurStory{
        font-size: 18px;
        color: $whiteFont;
        line-height: 39px;
        width: 592px;
        height: 241px;
        top: 48px;
        right: 48px;
        bottom: 89px;
        left: 535px;
        display: -webkit-box;
        max-width: 592px;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .moreLink{
        color: $whiteFont;
        font-size: 20px;
        line-height: 27px;
        text-align: justify;
        text-decoration-line: underline;
        top: 303px;
        right: 58px;
        bottom: 48px;
        left: 1067px;
        &:hover{
          .textOurStory{
            color: blue;
          }
        }
      }
    }
  }
}