@import "variablePractice1";

@media (max-width: $lg) {

  .fatherOfContainer {
    background: unset;
    background-color: $darkBrownBg;

    .container {
      max-width: 90rem;

      .header {
        .headerRight {
          display: none;
        }

        .responsiveMenu {
          display: block;
        }
      }

      .elzaCoffee {
        .h1 {
          font-size: 4rem;
          text-align: center;
        }

        .text {
          font-size: 1.4rem;
          width: auto;
          text-align: center;
        }

        .btns {
          display: flex;
          justify-content: center;
          gap: 3rem;

          .creamBtn {
            margin-right: 0;
          }
        }
      }

      .iceCreamBox {
        margin-top: 4rem;
        width: 100%;
        border-radius: 0;

        .h4 {
          font-size: 1.5rem;
          margin: 1.25rem 0;
        }
      }
    }
  }


  .fatherOfContainer2 {
    .container {
      max-width: 90rem;

      .ourStory {
        grid-template-columns: 1fr;

        .womanImg {
          display: none;
        }

        .text {
          font-size: 1rem;
        }

        .moreLink {
          grid-column: 1;

        }
      }

      .services {
        .servicesContainer {
          grid-template-columns: repeat(3, 1fr);
          row-gap: 1.5rem;
        }
      }

      .offer {

        .offerBox {
          grid-template-columns: 1fr;

          .offerContent {
            align-items: center;

            .offerTitle {
              font-size: 1.8rem;

              .textOfSpan {
                font-size: 2.5rem;
              }
            }

            .text {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .reservation {
      .container {
        max-width: 90rem;

        .reserveFlex {
          .reserveFlexLeft {
            display: none;
          }

          .reserveFlexRight {
            margin: auto;
          }
        }
      }
    }

    .container {
      max-width: 90rem;
    }

    .popularMenu {
      .container {
        max-width: 90rem;
        .popularFlex {
          justify-content: space-around;
          gap: 3rem;
          .popularFlexItem:nth-child(2) {
            display: none;
          }
          .popularFlexItem {
            .priceBox {
              .priceBoxImg {
                width: 16rem;
              }

              .price {
                font-size: 1.25rem;
              }

              .product {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: $sm) {
  .fatherOfContainer {

    .container {
      max-width: 48rem;

      .elzaCoffee {
        .text {
          font-size: 1.1rem;
        }

        .btns {
          flex-direction: column;
          align-items: center;
          gap: 2rem;

          .brownBtn {
            margin-top: 0;
          }
        }
      }

      .iceCreamBox {

        .iceCreamImg {
          width: 11rem;
          height: 11rem;
        }

        .h4 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .fatherOfContainer2 {
    .container {
      max-width: 48rem;

      .h2 {
        font-size: 3rem;
      }

      .ourStory {
        padding: 1.5rem;

        .womanImg {
          display: none;
        }

        .text {
          font-size: 0.875rem;
          line-height: 1.75rem;
        }

        .moreLink {
          grid-column: 1;
          font-size: 0.875rem;

        }
      }

      .services {
        .servicesContainer {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 1.5rem;

          .serviceBox {
            width: 9rem;
          }
        }
      }

      .offer {

        .offerBox {

          .offerContent {

            .text {
              font-size: 0.875rem;
            }

            .btn {
              font-size: 1.25rem;
            }
          }

          .offerImage {
            width: 18rem;
            height: 18rem;
          }
        }
      }
    }

    .reservation {
      .h2 {
        font-size: 3rem;
      }

      .container {
        max-width: 48rem;

        .reserveFlex {
          .reserveFlexRight {
            .reserveForm {
              width: 21rem;

              .input::placeholder, .select {
                font-size: 1rem;
              }

              .reserveInputIcon, .guestIcon {
                width: 1rem;
                height: 1rem;
              }

              .guestIcon {
                inset: 1.1rem 12rem;

              }

              .reserveInputIcon {
                inset: 1.3rem 1.3rem;
              }
            }
          }
        }
      }
    }

    .container {
      max-width: 48rem;

      .recommended {
        .recommendFlex {
          width: 21.5rem;

          .RecommendFlexItem {
            .recommendImg, .recommendTextBox {
              width: 21.5rem;
            }

            .basketIcon {
              top: 16.5rem;
            }
          }
        }
      }
    }

    .popularMenu {
      .container {
        max-width: 48rem;
        .popularFlex {
          gap: 1.5rem;
          .popularFlexItem {
            .priceBox {
              .priceBoxImg {
                width: 10.5rem;
              }
              .price {
                font-size: 0.875rem;
              }
              .product {
                font-size: 1.25rem;
              }
            }
          }
        }
        .menuLinkBox {
          .menuLink{
            font-size: 1.5rem;
          }
          .menuIcon {
            height: 1rem;
          }
        }
      }
    }
  }
}




