$coffeeCream: #F7E1BC;
$coffeeCreamFont: #FFF8E8;
$coffeeCreamBg: #7C573C;
$coffeeBrown: #54372B;
$coffeeBlack: #221518;
$coffeeBrownFont: #241719;
$coffeeBrownBg: #3F2F2A;

$textShadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);