$black: #221518;
$brown: #54372B;
$cream: #F7E1BC;
$whiteFont: #FFF8E8;
$brownFont: #DABB9E;
$darkBrownBg: #221518;
$lightBrownBg: rgba(173, 113, 74, 0.35);
$textShadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
$textShadowHeading: 185px 140px 65px rgba(0, 0, 0, 0.01), 118px 90px 59px rgba(0, 0, 0, 0.12), 67px 51px 50px rgba(0, 0, 0, 0.39), 30px 22px 37px rgba(0, 0, 0, 0.67), 7px 6px 20px rgba(0, 0, 0, 0.77), 0px 0px 0px rgba(0, 0, 0, 0.78);